* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Abel, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #001;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.result {
	align-self: flex-end;
	color: white;
}

.input-box {
	width: 100%;
	background-color: transparent;
	color: white;
	border: none;
	border-bottom: 1px solid #AAA;
	text-align: right;
	font-size: 2rem;
	margin-bottom: 1em;
}

.input-box:focus {
	outline: none;
}

.btn-box {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);
	gap: 1rem;
}

.calc-btn {
	padding: 1.5em;
	border-radius: 2px;
	font-size: 1.1em;
	font-weight: 500;
	background-color: transparent;
	color: white;
	border: 1px solid #AAA;
}
	
.calc-btn.clear {
	background-color: white;
	color: #191919;
}